* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
}

h1 {
    font-size: large;
    text-align: center;
    margin: 10px 0;
}

h3 {
    font-size: small;
    text-align: center;
}

.container {
    width: 364px;
    margin: 0 auto;
}

#resultados {
    margin-top: 15px;
}
#resultados > div > img{
    width: 100%;
}

#resultados > div {
    margin: 55px 0;
}